<div style="position: relative; width: 20px; height: 20px;">
  <svg width="20" height="20" viewBox="0 0 24 24" style="position: absolute; top: 0; left: 0;">
    <path fill="#e0e0e0" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.998 1.504 8.313L12 18.896l-7.44 4.721 1.504-8.313-6.064-5.998 8.332-1.151z" />
  </svg>
  <svg width="20" height="20" viewBox="0 0 24 24" style="position: absolute; top: 0; left: 0; clip-path: inset(0 50% 0 0);">
    <path fill="#FFD700" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.998 1.504 8.313L12 18.896l-7.44 4.721 1.504-8.313-6.064-5.998 8.332-1.151z" />
  </svg>
</div>
