{
  "name": "About Page",
  "sections": {
    "main": {
      "type": "about-hero",
      "settings": {
        "title": "Welcome to Our Story",
        "subtitle": "<p>Discover who we are, what we believe, and where we’re going.</p>",
        "button_1_text": "Explore",
        "button_1_link": "/collections/all",
        "button_2_text": "Contact Us",
        "button_2_link": "/pages/contact"
      }
    }
  },
  "order": [
    "main"
  ]
}
